/* ------------------------------------------------------------------------------------ */
/*								STYLE PAGE										*/
/* ------------------------------------------------------------------------------------ */
body {
	width: 20%;
	height: 20%;
/*background-image: url('img/background_image.jpg');
background-size: 20%;*/
}